.nav{
    background-color:aquamarine;
    display:flex;

}
.nav_item{
    list-style-type:none;
}
.main_section{
    display:flex;
    height: 50vh;
}
.right_section{
    background-color:cadetblue ;
    width: 100%;
  
}
.mid_section{
    background-color: lightpink;
    width: 100%;
}
.left_section{
    background-color:cadetblue ;
    width:100%;
}
footer{
background-color: gray;
height: 50px;
display: flex;
}
h3{
    margin: auto;
}