.nav{
    background-color:aquamarine;
    display:flex;

}
.nav_item{
    list-style-type:none;
}
.main_section{
    display:grid;
    grid-template-columns: repeat(4);
    grid-template-rows: repeat(4);
    height: 50vh;
    
}
.article{
    background-color:lightpink ;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 5;

}
.right_section{
    background-color:cadetblue ;
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
}
.left_section{
    background-color:yellow ;
    width: 100%;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;

 
}
.bottom_section{
    background-color: orange;
    width: 100%;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end:5;
}
footer{
background-color: gray;
height: 50px;
display: flex;
}
h3{
    margin: auto;
}